  .img {
   width: 100px;
   border-radius: 5%;

   }

 body { 
  background-color: rgb(143, 240, 249);
  } 

   .headers {
  
    color: rgb(123, 0, 255);
    text-shadow: 4px 4px rgb(196, 238, 114);
    float: 30% left;
  }

span {
  color: rgb(227, 15, 224);
}

.name {
  color: rgb(136, 41, 237);
  text-shadow: 5px 5px rgb(191, 246, 132);
    
  }

picture {
  border: 2px solid #eb63b2;
  background-color: rgb(198, 194, 190);
  padding: 5px;
  text-align: center;
  }